<div class="grid grid-pad">
	<div *ngFor="let menuItem of menuItems"  class="col-1-4" >
			<h2>{{menuItem.name}} {{menuItem.price | currency : 'USD' : true }}</h2>
			<div style="padding-bottom: 30px;" *ngFor="let topping of menuItem.toppings">{{topping.name}} {{topping.price | currency: 'USD' : true}}
				<div class="col-md-2 col-md-push-2" >
                     <button class="btn btn-success btn-xs" (click)="addToppingToOrder(topping, menuItem)">
                         <span>+</span>
                     </button>
                     <button class="btn btn-warning btn-xs" (click)="removeToppingFromOrder(topping, menuItem)">
                         <span>-</span>
                     </button>
	           	</div>
           	</div>
           	<span>Total: {{menuItem.getTotalPrice()}}</span>
			<button (click)="addItemToOrder(menuItem)">Add to Order</button>
	</div>
</div>